:root{
    --primary-color1:hsl(30, 54%, 90%);
    --primary-color2:hsl(30, 18%, 87%);
    --primary-color3:hsl(30, 10%, 34%);
    --primary-color4:hsl(24, 5%, 18%);

    --secondar-color1:hsl(14, 45%, 36%);
    --secondar-color1:hsl(332, 51%, 32%);
    --secondar-color1:hsl(330, 100%, 98%);


}
.attribution{
    text-align: center;
}
#img1{
    border-radius: 30px;
    padding: 15px;

}


body{
    background-color:hsl(29, 53%, 90%);
    width: 100%;
    min-height: 100vh;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.all{
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 6px;
    text-align: left;
    font-family: outfit;
    font-size: 16px;
    width: 100%;
    padding: 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.container{
    width: 60%;
    display: flex;
    flex-direction: column;

    align-items: center;
}
@font-face {
    font-family: outfit;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: young;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
#title1{
    font-family: young;
    margin-left: 15px;
    margin-bottom: 20px;

}
.introduction_{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.introduction_ p{
    line-height: 25px;
}
.prep{
    display: flex;
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
#ul1 li{
    padding: 10px;
    height: 30px;
    line-height: 30px;
}
#ul1 li::marker{
    padding: 10px;
    color: hsl(332, 51%, 32%);
}

#ing{
    font-family: young;
    padding-left: 10px;
    margin-bottom: auto;
    color: hsl(14, 45%, 36%);
}
.instructionsdiv{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
.orderedlist{
    line-height: 50px;
}
.orderedlist li{
    padding: 10px;
    line-height: 30px;
}
.orderedlist li::marker{
    color: hsl(14, 45%, 36%);
}
.ul2 li{
    padding: 10px;
}
.ul2 li::marker{
    color: hsl(14, 45%, 36%);
}
#inst{
    margin-left: 10px;
    font-family: young;
    color: hsl(14, 45%, 36%);
}
#nutr{
    color: hsl(14, 45%, 36%);
    padding-left: 10px;
    font-family: young;
}
.nutrdiv{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.nutr td{
    color: hsl(14, 45%, 36%);
    padding: 10px;
    margin-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutr tr{
    padding: 10px;
}
.nutr th{
    font-weight: 300;
    padding-right: 500px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
#prept{
    margin-left: 15px;
}

a{
    text-decoration: none;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    padding-left: 5px;
}

.ingredients{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutr tr th td{
    text-align: center;
    padding-left: 10px;
}
@media (max-width:768px) {
    body{
        padding: 0px;
    }
    .all{
        width: 100%;
        padding: 10px;
        margin: 0px;
    }
    .container{
        width: 100%;
        padding: 0px;
        border: none;
    }
    .nutr th{
        padding-right: 100px;
    }
    #img1{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
    }
    
}
